---
import { Image } from 'astro:assets'
import Tags from './Tags.astro'

import { getCollection } from 'astro:content'
const posts = await getCollection('blog', ({ data }) => {
    return data.draft === false
})

posts.sort(
    (a, b) =>
        new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);
---

<section>
    <h2 class="font-bold text-3xl text-center">Últimos posts</h2>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-2">
        {
            posts.map((post, index) => (
                <li class="md:first-of-type:col-span-2 ">
                    <article>
                        <header>
                            <a class="block" href={'/blog/' + post.slug}>
                                <Image
                                    src={post.data.cover}
                                    alt={post.data.coverAlt}
                                    loading={index < 3 ? 'eager' : 'lazy'}
                                    transition:name={'cover-' + post.slug}
                                    class="aspect-video object-cover"
                                />
                                <h3 class="text-lg font-semibold text-blue-700 dark:text-blue-400">
                                    <span>{post.data.title}</span>
                                </h3>
                            </a>
                            <time
                                class="block text-xs italic"
                                datetime={post.data.pubDate}
                            >
                                {Intl.DateTimeFormat('es-ES', {
                                    year: 'numeric',
                                    month: 'short',
                                    day: 'numeric'
                                }).format(new Date(post.data.pubDate))}
                            </time>
                        </header>
                        <Tags tags={post.data.tags} />
                        <p>{post.data.description}</p>
                    </article>
                </li>
            ))
        }
    </ul>
</section>
