---
import { Picture } from '@astrojs/image/components';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('../../pages/blog/*.{md,mdx}')).sort(
(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
).slice(0,4)


---

<section>
    <h2>Últimos posts</h2>
    <ul class="grid">
        {posts.map((post) => (
            <li>
                <article>
                    <header>
                        <a href={post.url}>
                            <Picture 
                            formats={["webp","jpeg"]} 
                            src={post.frontmatter.heroImage} 
                            alt={post.frontmatter.title} 
                            aspectRatio="16:9" 
                            widths={[400, 800, 1200]}
                            sizes="(max-width: 800px) 100vw, 800px" 
                            ></Picture>
                            <h3><span>{post.frontmatter.title}</span></h3>
                        </a>
                        <time datetime={post.frontmatter.pubDate}>
                            {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
                                year: 'numeric',
                                month: 'short',
                                day: 'numeric',
                            })}
                        </time>
                    </header>
                    <p>{post.frontmatter.description}</p>
                </article>
            </li>
        ))}
    </ul>
</section>
    
<style>
    header a {
        @apply block
    }
    header a h3{
        @apply text-[#3273dc]
    }
    .grid {
        display: grid;
        grid-template-columns: auto auto;
        justify-items: start;
        grid-gap: 10px;
    }

    .grid div {
    border: 1px solid #ccc;
    width: 100%;
    }

    .grid > *:nth-child(2n-1) {
    justify-self: center;
    }

    .grid > *:nth-child(2n) {
    justify-self: end;
    }

    .grid > *:nth-child(2n-1):nth-of-type(1) {
    border-color: red;
    grid-column: span 2;
    }

    time{
        @apply block text-xs italic
    }
</style>