---
import { Image } from '@astrojs/image/components';
import Tags from '@components/Blog/Tags.astro'
export interface Props {
	posts: Array<any>;
}

const { posts } = Astro.props
---

<style slot="style">
    ul {
        list-style-type: none;
        padding: unset;
    }
    ul li {
        @apply flex gap-4
    }
    ul li time {
        flex: 0 0 130px;
        font-style: italic;
        color: #595959;
    }
    li > a{
        @apply flex gap-4 text-neutral-800
    }
    li > a:visited{
        @apply text-neutral-800
    }
    header{
        width: 150px;
    }
    Image img, img{
        @apply object-cover
    }
    img{
        width: unset !important;
        height: unset !important;
        max-width: unset !important;
        max-height: unset !important;
    }
</style>
<section>
    {posts.length <= 0 ? <p>Oh, no hay posts</p> : 
    <ul>
        {posts.map((post: { url: string | URL | null | undefined; frontmatter: { heroImage: any | string; title: string; pubDate: string; tags: any[] | undefined; description: unknown; }; }) => (
            <li>
                <a href={post.url}>
                    <header>
                        <Image 
                        formats={["webp","jpeg"]} 
                        src={post.frontmatter.heroImage} 
                        alt={post.frontmatter.title} 
                        aspectRatio="16:9" 
                        width={150}
                        height={75}
                        sizes="100vw" 
                        ></Image>
                    </header>
                    <div>
                        <h3><span>{post.frontmatter.title}</span></h3>
                        <time datetime={post.frontmatter.pubDate}>
                            {new Date(post.frontmatter.pubDate).toLocaleDateString('es-ES', {
                                year: 'numeric',
                                month: 'short',
                                day: 'numeric',
                            })}
                        </time>
                        <Tags tags={post.frontmatter.tags}></Tags>
                        <p>{post.frontmatter.description}</p>
                    </div>
                </a>
            </li>
        ))}
    </ul>
}
</section>