---
import { Image } from "astro:assets";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "@fontsource/outfit";
import Tags from "@components/Blog/Tags.astro";
export interface Props {
    frontmatter: {
        slug: string;
        title: string;
        description: string;
        pubDate?: string;
        updatedDate?: string;
        cover?: string;
        coverAlt?: string;
        tags?: Array<any>;
    };
}

import {
    SITE_TITLE as DEFAULT_SITE_TITLE,
    SITE_DESCRIPTION as DEFAULT_SITE_DESCRIPTION,
} from "../config";

const {
    frontmatter: {
        slug,
        title,
        description,
        pubDate,
        updatedDate,
        cover,
        coverAlt,
        tags,
    },
} = Astro.props;
const titleS = title ? DEFAULT_SITE_TITLE + " - " + title : DEFAULT_SITE_TITLE;
const descriptionS = description ? description : DEFAULT_SITE_DESCRIPTION;
---

<html lang="en">
    <head>
        <BaseHead title={titleS} description={descriptionS} />
    </head>

    <body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100">
        <Header />
        <main transition:animate="fade" class="max-w-[65ch] mx-auto p-4">
            <header class="">
                {
                    cover && (
                        <Image
                            src={cover}
                            alt={coverAlt}
                            loading="lazy"
                            transition:name={"cover-" + slug}
                        />
                    )
                }
                <h1 class="text-3xl text-center w-full p-4">{title}</h1>
                <div class="flex gap-4 justify-between items-center p-4">
                {pubDate && <time>{pubDate}</time>}
                {
                    updatedDate && (
                        <div>
                            Actualizado el <time>{updatedDate}</time>
                        </div>
                    )
                }
                <Tags tags={tags} />
                <slot name="meta" />
                </div>

                <hr />
            </header>
            <article class="prose dark:prose-invert">
                <slot />
            </article>
        </main>
        <Footer />
    </body>
</html>
